asgiref==3.8.1
distlib==0.3.8
Django==5.0.6
django-extensions==3.2.3
djangorestframework==3.15.1
filelock==3.14.0
graphviz==0.20.3
platformdirs==4.2.2
psycopg2==2.9.9
pydot==2.0.0
pyparsing==3.1.2
python-decouple==3.8
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.26.2
